body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-weight: 700;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 700px;
}

th {
    background-color: black;
    color: white;
    text-align: left;
    font-size: 0.9em;
    border: 1px solid black;
    padding: 11px;
}

#Firstname {
    border-right: 1px solid white;
}

#Lastname {
    border-right: 1px solid white;
}

td {
    border: 1px solid black;
    padding: 10px;
    margin-left: 50px;
}

td:nth-child(even) {
    background-color: #eeeeee;
}